.flashcard-view-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashcard-view-container h1 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 48px;
  font-family: "Aleo", serif;
  color: rgb(149 19 19);
}

.form-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.flashcard-container {
  margin-top: 2rem;
  width: 100%;
  max-width: 800px;
}

.flashcard-view-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.form-group vaadin-text-field input {
  padding: 8px 10px;
  border-radius: 4px;
}

.form-group vaadin-text-field input::placeholder {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #767676;
}

#formBtn {
  width: 140px;
  height: 50px;
  background: #34A03A;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #F3FFF1;
}

.FlashcardArrayWrapper__controls--count {
  font-weight: 700;
}

.FlashcardWrapper__item--front {
  font-size: 32px;
  font-weight: 700;
}

.FlashcardWrapper__item--back {
  font-size: 32px;
  font-weight: 700;
}

.flashcard-container {
  margin-top: 2rem;
  width: 100%;
  max-width: 800px;
}

@media only screen and (max-width: 688px) {
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
